/* header styles  */
header{
    display: flex;
    height: 40vh;
    width: 90vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-top: 1rem;
}
nav div img{
    width: 9vw;
    margin-left: 25vw;
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
/* i use in li display:flex to avoid th dot from the list */
li{
    display: flex;
    justify-content: center;
}
/* pseudo classe for styling the links in nav  */
 nav ul li a:link, a:visited{
    text-decoration: none;
    color: var(--mobile-app-text-color);
    text-decoration:none;
}

