.left{
    position: absolute;
    left: 30rem;
    top: 20rem;
}
h1{
    font-size: 39px;
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    color: var(--mobile-app-text-color);
}
p{
    line-height: 3vh;
}
.green{
    position: relative;
    right:2.7rem;
    margin-right: 1.5rem;
    border-radius: 6%;
    background: var(--mobile-app-learn-more-color);
    color: #FFF;
    padding: 1rem 0rem 1rem 3.2rem;
    text-decoration: none;
    margin-left: 0.6rem;
    width: 7.5vw;
    height: 3vh;
}
.pos{
    display: flex;
    margin-left: 2rem;
    margin-top: 3rem;
}
.blue{
    position: relative;
    right: 2rem;
    border-radius: 4%;
    background: var(--mobile-app-get-app-color);
    color: #FFF;
    padding: 1rem 0rem 1rem 3rem;
    text-decoration: none;
    margin-left: 0.6rem;
    width: 7.5vw;
    height: 3vh;
}

