.right{
    width: 50%;
    height: 30%;
    display: flex;
}
.right section{
    

}
.right div img {
    width: 60%;
    height: 90%;
}
.black{
    position: absolute;
}
.white{
    position: absolute;
    margin-left:10rem;
}
