.right{
    width: 15vw;
    height: 28vh;
    display: flex;
    border: 2px yellow solid;
}
.right , .white ,  .black{
    width: 15vw;
    height: 36rem;
}
.white, .black{
    position: absolute;
}
.black{
    position: absolute;
    margin-top: 1rem;
    margin-left: 7rem;
    z-index: 1;
}

