@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(./var.css);
@import url(./header.css);
@import url(./left.css);
@import url(./right.css);
/* body dimencion and images  */
body{
    background-image: url("../images/bg_001.jpg");
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 80vh;
}